{% extends 'components/error/base.html' %}
{% load static %}
{% block container %}
    <!-- Start Container -->
    <div id="containerbar" class="containerbar authenticate-bg">
        <!-- Start Container -->
        <div class="container">
            <div class="auth-box error-box">
                <!-- Start row -->
                 <div class="row no-gutters align-items-center justify-content-center">
                    <!-- Start col -->
                    <div class="col-md-8 col-lg-6">
                        <div class="text-center">
                            <img src="{% static 'assets/images/logo.svg' %}" class="img-fluid error-logo" alt="logo">
                            <img src="{% static 'assets/images/error/internal-server.svg' %}" class="img-fluid error-image" alt="500">
                            <h4 class="error-subtitle mb-4">500 Internal Server Error</h4>
                            <p class="mb-4">The server encountered an internal error or misconfiguration and was unable to complete your request.</p>                           
                            <a href="{% url 'home' %}" class="btn btn-primary font-16"><i class="feather icon-home mr-2"></i> Go back to Dashboard</a>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End row -->
            </div>
        </div>
        <!-- End Container -->
    </div>
    <!-- End Containerbar -->
{% endblock %}