{% extends 'components/error/base.html' %}
{% load static %}
{% block container %}
	<!-- Start Container -->
    <div id="containerbar" class="containerbar authenticate-bg">
        <!-- Start Container -->
        <div class="container">
            <div class="auth-box error-box">
                <!-- Start row -->
                 <div class="row no-gutters align-items-center justify-content-center">
                    <!-- Start col -->
                    <div class="col-md-8 col-lg-6">
                        <div class="text-center">
                            <img src="{% static 'assets/images/error/maintenance.svg' %}" class="img-fluid error-image" alt="maintenance">
                            <h4 class="error-subtitle mb-4">O sistema está em manutenção</h4>
                            <p class="mb-4">Pedimos sinceras desculpas pelo inconveniente. Por favor, volte mais tarde.</p>
                            <a href="{% url 'home' %}" class="btn btn-warning font-16"><i class="feather icon-home mr-2"></i> Voltar para o Dashboard</a>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End row -->
            </div>
        </div>
        <!-- End Container -->
    </div>
    <!-- End Containerbar -->
{% endblock %}